# a-simple-guide-to-calligraphy
learn calligraphy!
div {
  display: block;
}


.dot
 {
   font-family:'Times New Roman', Times, serif;
   color: rgb(230, 219, 210);
}

.img {
 margin-left: 463px;
}

.style1{
  text-decoration:none;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(194, 153, 141);
  font-size: 28px;
  padding-left: 0px;
}

.style2{
  text-decoration:none;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(194, 153, 141);
  font-size: 28px;
  padding-left: 5px;
}

.style3{
  text-decoration:none;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(194, 153, 141);
  font-size: 28px;
  padding-left: 5px;
}
.style4{
  text-decoration:none;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(194, 153, 141);
  font-size: 28px;
  padding-left: 5px;
}
.style5{
  text-decoration:none;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(194, 153, 141);
  font-size: 28px;
  padding-left: 5px;
}
.style :hover{
  color: pink;
}


.dropbtn {
 
 text-decoration:none;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(194, 153, 141);
  font-size: 28px;
  padding-left: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5eaee;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(255, 218, 235);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(121, 89, 104);
  font-size: 20px;
  font-family: monospace;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(240, 211, 219);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color:rgb(199, 124, 149);}
.style1:hover{color:rgb(199, 124, 149);}
.style2:hover{color:rgb(199, 124, 149);}
.style3:hover{color:rgb(199, 124, 149);}
.style4:hover{color:rgb(199, 124, 149);}
.style5:hover{color:rgb(199, 124, 149);}



 {box-sizing:border-box}
 Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 200px;
  text-align: center;
  height:100px;
  
}
.cake {
  margin-left: 30px;
  margin-top: 30px;
  
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.9s;
  animation-name:fade;
  animation-duration: 2.9s;
  opacity: .5;

}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: .7}
    
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: .8}
}

.click {
  color: rgb(155, 111, 122);
  background-color:rgb(241, 213, 227);
  border-color: lightpink;
  font-size: 30px;
  border-width: 10px;
  border-style:groove;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 420px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pictu {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  padding-left:50px;
  color: rgb(110, 68, 89);
}

.step1 {
  font-size: 40px;
  padding-left: 30px;
  padding: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(163, 71, 102)
}
.otherstyles {
  display: block;
  background-color: rgb(235, 214, 212);
  border-style: groove;
  border-width: 10px;
  border-color: rgb(206, 168, 165)
}
.KWK {
  border: 5px solid rgb(201, 139, 170);
  background-color: rgb(247, 228, 232);
  margin-top: 7px;
  
}

.others1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  padding-left: 0px;
  color: rgb(190, 74, 109);
}

.KWK1 {
  border: 5px solid rgb(236, 188, 208);
  border-style:ridge;
  border-width: 10px;
  background-color: rgb(255, 218, 230);
  margin-top: 7px;
  display: flex;
  
}

.simple {
  margin-left: 30px;
  justify-content:space-evenly;
  display: flex;
}

.simple1 {
  font-size: 20px;
  color:aliceblue;
}
.intro {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(163, 71, 102);
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color:rgb(248, 226, 229);
  border-top: groove;
  border-bottom: groove;
  border-left: groove;
  border-radius: groove;
  border-width: 10px;
  border-style:ridge;
  border-color:pink;

}

.intro1 {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(155, 128, 127);
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color:rgb(238, 230, 228);
  border-top: groove;
  border-bottom: groove;
  border-left: groove;
  border-radius: groove;
  border-width: 10px;
  border-style:ridge;
  border-color:rgb(238, 215, 213);

}


.intro2 {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(187, 122, 144);
  font-size: 40px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  background-color:rgb(255, 234, 238);
  
 
  border-color:rgb(238, 215, 213);

}



.intro3 {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(187, 122, 144);
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color:rgb(255, 234, 238);
  
  border-color:rgb(238, 215, 213);

}


.intro41 {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(155, 128, 127);
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color:rgb(255, 234, 238);
  border-top: groove;
  border-bottom: groove;
  border-left: groove;
  border-radius: groove;
  border-width: 10px;
  border-style:ridge;
  border-color:rgb(238, 215, 213);

}

.intro12 {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(151, 84, 112);
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color:rgb(247, 224, 231);
  border-top: groove;
  border-bottom: groove;
  border-left: groove;
  border-radius: groove;
  border-width: 10px;
  border-style:ridge;
  border-color:rgb(223, 185, 200);

}
.intro21 {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(156, 74, 112);
  font-size: 25px;
  padding-left: 40px;
  padding-top: 100px;
  padding-bottom: 10px;
  padding-right: 40px;
  
}
.angle {
  background-color: rgb(238, 226, 224);
  border-style: groove;
  border-color: rgb(189, 171, 163);
  border-width: 10px;
  font-family:'Noto Sans', sans-serif;
  font-size: 20px;
  color:rgb(105, 89, 78)
}
.ohh {
  background-color: rgb(238, 224, 233);
  border-style: groove;
  border-color: rgb(214, 184, 205);
  border-width: 10px;
  font-family:'Noto Sans', sans-serif;
  font-size: 20px;
  color:rgb(105, 78, 99)
}

.right {
 background-color: rgb(238, 224, 233);
  border-style: groove;
  border-color: rgb(214, 184, 205);
  border-width: 10px;
  font-family:'Noto Sans', sans-serif;
  font-size: 20px;
  color:rgb(105, 78, 99) 
}


.yepp {
  color: rgb(95, 70, 64);
  background-color: rgb(230, 227, 227);
  display: flex;
  border-style:groove;
  border-width: 10px;
  border-color:rgb(177, 134, 164);
}


.yep {
  color: rgb(131, 30, 72);
  background-color: rgb(247, 233, 235);
  display: flex;
  border-style:groove;
  border-width: 10px;
  border-color:rgb(177, 134, 164);
}


.yeppp {
  color: rgb(131, 30, 72);
  background-color: rgb(247, 233, 235);
  display: flex;
  border-style:groove;
  border-width: 10px;
  border-color:rgb(177, 134, 164);
}


.see {
  font-size: 100px;
  padding-left: 40px;
}


.updoo{
  color: rgb(133, 114, 112);
  background-color: rgb(250, 245, 241);
  display: flex;
  border-style:groove;
  border-width: 10px;
  border-color:rgb(201, 193, 190);
  font-family: 'Noto Sans', sans-serif;
font-size: 20px;
width: 1480px;
margin-top: 40px;
}

.know {
   font-family: 'Noto Sans', sans-serif;
   color: rgb(133, 114, 112);
   font-size: 20px;
   padding-top: 110px;
   padding-left: 50px;
   padding-right: 50px;
}


.updone{
  color: rgb(133, 112, 124);
  background-color: rgb(250, 241, 246);
  display: flex;
  border-style:groove;
  border-width: 10px;
  border-color:rgb(201, 190, 199);
  font-family: 'Noto Sans', sans-serif;
font-size: 20px;
width: 1000px;
}



.high 
{
  display:flex;
  flex-wrap: wrap;
justify-content: center;
}


.updooo{
  color: rgb(124, 94, 106);
  background-color: rgb(255, 236, 237);
  display: flex;
  border-style:groove;
  border-width: 10px;
  border-color:rgb(238, 219, 231);
  font-family: 'Noto Sans', sans-serif;
font-size: 20px;
width: 1480px;
margin-top: 40px;

}


.horse {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  color: rgb(168, 148, 155);
  background-color: rgb(255, 244, 244);
  border-style: groove;
  border-width: 10px;
  border-color: rgb(243, 229, 229);
 
}

.c {
  display: flex;
 
  border-style: groove;
  border-color: lightpink;
  border-width: 10px;
 
  margin-top: 30px;

}

.e {
  display: flex;
}

.upp{
  font-family: 'Noto Sans', sans-serif;
  color: rgb(133, 112, 124);
  background-color: rgb(250, 241, 246);
  border-style: groove;
border-width: 10px;
border-color: rgb(223, 191, 209);
}


.uppp{
  font-family: 'Noto Sans', sans-serif;
  color: rgb(119, 109, 106);
  background-color: rgb(250, 246, 245);
  border-style: groove;
border-width: 10px;
border-color: rgb(199, 190, 185);
}


.f {
  background-color: rgb(255, 244, 244);
  border-style: groove;
  border-width: 10px;
  border-color:rgb(243, 229, 229);
}

.lett {
  background-color: rgb(255, 236, 239);
  border-color: rgb(231, 179, 192);
  border-style: ridge;
  border-width: 10px;
  margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
font-size: 20px;
font-family:  'Noto Sans', sans-serif;
color: rgb(192, 96, 112);
}

.lettt {
  background-color: rgb(255, 243, 236);
  border-color: rgb(231, 194, 179);
  border-style: ridge;
  border-width: 10px;
  margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
font-size: 20px;
font-family:  'Noto Sans', sans-serif;
color: rgb(192, 102, 96);
}

.letttt {
  background-color: rgb(255, 243, 236);
  border-color: rgb(231, 194, 179);
  border-style: ridge;
  border-width: 10px;
  margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
font-size: 20px;
font-family:  'Noto Sans', sans-serif;
color: rgb(192, 102, 96);
}

.lettttt {
  background-color: rgb(255, 236, 242);
  border-color: rgb(231, 179, 201);
  border-style: ridge;
  border-width: 10px;
  margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
font-size: 20px;
font-family:  'Noto Sans', sans-serif;
color: rgb(192, 96, 141);
}

.letttttt {
  background-color: rgb(255, 236, 253);
  border-color: rgb(231, 179, 227);
  border-style: ridge;
  border-width: 10px;
  margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
font-size: 20px;
font-family:  'Noto Sans', sans-serif;
color: rgb(189, 96, 192);
}

.lettttttt {
  background-color: rgb(226, 225, 225);
  border-color: rgb(221, 220, 220);
  border-style: ridge;
  border-width: 10px;
  margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
font-size: 20px;
font-family:  'Noto Sans', sans-serif;
color: rgb(117, 108, 107);
}




.bazic {
  background-color: rgb(243, 237, 232);
  border-color: rgb(221, 201, 191);
  border-style: ridge;
  border-width: 10px;
  margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
font-size: 20px;
font-family:  'Noto Sans', sans-serif;
color: rgb(170, 142, 123);
}


.mind {
  background-color: rgb(255, 198, 201);
  border-color: rgb(207, 145, 161);
  border-style: ridge;
  border-width: 10px;
  margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
font-size: 20px;
font-family:  'Noto Sans', sans-serif;
color: rgb(148, 62, 76);
}


.alpha {
  background-color: rgb(243, 233, 234);
  border-color: rgb(218, 201, 205);
  border-style: ridge;
  border-width: 10px;
  margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
font-size: 20px;
font-family:  'Noto Sans', sans-serif;
color: rgb(150, 124, 128);
}


iframe {
  margin-top: 30px;
}
